body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #1a1a1a;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

#gameName {
	font-size: 64px;
	display: block;
	color: white;
}

#startButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 20px 36px;
	font-size: 32px;
	border-radius: 6px;
	cursor: pointer;
	transition: padding 150ms ease-out;
}

#startButton:hover {
	padding: 26px 42px;
}

#container {
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

#remaining-display {
	color: white;
	font-size: 48px;
}

#playground {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.card {
	background-color: #aaaaaa;
	color: black;
	border-radius: 10px;
	font-size: 64px;
	width: 120px;
	height: 120px;
	cursor: pointer;
	transition: transform 200ms ease-out;
}

.card:hover {
	transform: rotate(20deg);
}

.card-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flipped {
	background-color: dodgerblue;
	display: block;
	cursor: default;
}

.solved {
	background-color: green;
}

.solved-text {
	color: green;
	font-size: 72px;
	font-weight: bold;
}

.hidden {
	display: none;
}

#buttonsContainer {
	display: flex;
	gap: 40px;
}

#reshuffleButton,
#endGameButton,
#playAgainButton {
	font-size: 32px;
	padding: 24px 0px;
	width: 280px;
	border-radius: 10px;
	border: none;
	background-color: dodgerblue;
	cursor: pointer;
	color: white;
	transition: padding 200ms;
}

#reshuffleButton:hover,
#endGameButton:hover,
#playAgainButton:hover {
	background-color: #aaddff;
}

#playAgainButton {
	display: none;
}
