body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #1a1a1a;
	font-family: Arial, sans-serif;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

#remaining-display {
	color: white;
	font-size: 48px;
}

.playground {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.card {
	background-color: #aaaaaa;
	color: black;
	border-radius: 10px;
	font-size: 64px;
	width: 120px;
	height: 120px;
	cursor: pointer;
	transition: transform 200ms ease-out;
}

.card:hover {
	transform: rotate(20deg);
}

.card-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flipped {
	background-color: dodgerblue;
	display: block;
	cursor: default;
}

.solver {
	background-color: green;
}

.hidden {
	display: none;
}

#reshuffle {
	font-size: 32px;
	padding: 24px;
	border-radius: 10px;
	border: none;
	background-color: dodgerblue;
	cursor: pointer;
	color: white;
	transition: padding 200ms;
}

#reshuffle:hover {
	padding: 32px;
}
